---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import WikiCard from "../../components/wiki-card.astro";
import Toc from "../../components/toc.astro";
import { frontmatter, Content, getHeadings } from "./_/art.mdx";
import ballImage from "./_/ball_anim.webp";
import { Image, getImage } from "astro:assets";

interface Props {
  title: string;
  subtitle: string;
  topic: string;
  imageSrc: string;
  imageAlt: string;
  details: {
    label: string;
    value: string;
  }[];
}

const { title, subtitle, topic, imageSrc, imageAlt, details } = frontmatter;
const title_subtitle = `${topic} - ${title}`;

interface Detail {
  label: string;
  value: string;
}
const headings = getHeadings();
const _details = Object.entries(details).map(([label, value]) => ({
  label,
  value,
})) as Detail[];

const openTempModal = import.meta.env.PROD;

const og_image_optimized = await getImage({
  src: "https://lh3.googleusercontent.com/d/1SdN0ru2ePVBOuohjH_K_-5avcOAod7ts",
  width: 3550,
  height: 2450,
});
---

<Layout title={title_subtitle}>
  <Fragment slot="head">
    <meta name="og:image" content={og_image_optimized.src} />
    <meta name="og:description" content={title_subtitle} />
  </Fragment>

  <header class="container mx-auto py-5">
    <div class="flex flex-row gap-4">
      <Image src={ballImage} alt="" class="my-auto size-16" />
      <hgroup>
        <h1 class="text-4xl font-bold">{title}</h1>
        <h2 class="text-3xl">{subtitle}</h2>
      </hgroup>
    </div>
  </header>
  <div
    class="container mx-auto flex flex-col gap-8 md:grid"
    style="grid-template-columns: 1fr 3fr 1fr;"
    x-data="tocIntersect"
  >
    <aside class="top-32 mt-10 hidden h-fit md:sticky md:block">
      <h1 class="text-xl font-semibold">Contents</h1>
      <hr class="my-2" />
      <Toc headings={headings} />
    </aside>
    <main class="w-full">
      <article
        class="prose prose-lg m-0 w-full max-w-full prose-headings:underline prose-h1:text-4xl"
      >
        <Content />
      </article>
    </main>
    <aside
      class="top-32 mt-10 h-fit sm:order-first sm:mx-auto md:sticky md:order-none"
    >
      <WikiCard
        topic={topic}
        imageSrc={imageSrc}
        imageAlt={imageAlt}
        details={_details}
      />
    </aside>
  </div>

  <footer></footer>

  <dialog
    id="temp-modal"
    class="fixed inset-0 rounded-md border-2 bg-white p-4 shadow-lg"
    open={openTempModal}
  >
    <form method="dialog" class="float-right">
      <input
        type="submit"
        value="x"
        class="size-9 rounded-md border-2 align-middle font-black shadow-sm transition hover:scale-110"
      />
    </form>

    <article class="prose">
      <h1>🚜 Under Construction 🚧</h1>

      <p>
        This page is under construction! In the meantime, please see the <a
          href="https://cuebitt.neocities.org/art">old version</a
        >.
      </p>
    </article>
  </dialog>

  <hr class="container mx-auto" />
  <footer class="container mx-auto p-4">
    <nav class="mx-auto w-fit">
      <ul>
        <li class="flex flex-row space-x-2 align-middle">
          <Icon name="fa6-solid:house" class="my-auto" />
          <a href="/" class="transition hover:scale-110"> Home </a>
        </li>
        <li class="flex flex-row space-x-2 align-middle">
          <Icon name="fa6-brands:github" class="my-auto" />
          <a
            href="http://github.com/cuebitt/cuebitt.rip"
            target="_blank"
            rel="noopener noreferrer"
            class="transition hover:scale-110"
          >
            Source Code
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</Layout>
