---
import { Image } from "astro:assets";

interface Props {
  topic: string;
  imageSrc: string;
  imageAlt: string;
  details: {
    label: string;
    value: string;
  }[];
  class?: string;
}

const { topic, imageSrc, imageAlt, details, class: className } = Astro.props;
---

<article
  class:list={[
    "flex w-fit flex-col gap-4 rounded-lg border-2 p-4 shadow-lg",
    className,
  ]}
>
  <header>
    <h1 class="text-4xl font-bold">{topic}</h1>
  </header>

  <hr />

  <Image
    src={imageSrc}
    alt={imageAlt}
    width={400}
    height={400}
    class="border-2 rounded-xl transition-border-radius dark:border-slate-500 hover:rounded-none"
    loading="eager"
  />

  <hr />

  <div class="border-2 rounded-lg dark:border-slate-500">
    <table class="w-full gap-x-8">
      <tbody>
        {
          details.map((detail) => (
            <tr class="even:bg-slate-50 dark:even:bg-slate-600">
              <th scope="row" class="p-1 text-left dark:text-slate-300">
                {detail.label}
              </th>
              <td class="p-1 text-left">{detail.value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</article>
