---
import { Image } from "astro:assets";

interface Props {
  topic: string;
  imageSrc: string;
  imageAlt: string;
  details: {
    label: string;
    value: string;
  }[];
}

const { topic, imageSrc, imageAlt, details } = Astro.props;
---

<article
  class="flex w-fit flex-col gap-4 rounded-lg border-2 bg-white p-4 shadow-lg"
>
  <header>
    <h1 class="text-4xl font-bold">{topic}</h1>
  </header>

  <hr />

  <Image
    src={imageSrc}
    alt={imageAlt}
    width={400}
    height={400}
    class="rounded-xl border-2 transition-border-radius hover:rounded-none"
  />

  <hr />

  <div class="rounded-lg border-2">
    <table class="w-full gap-x-8">
      <tbody>
        {
          details.map((detail) => (
            <tr class="even:bg-slate-50">
              <th scope="row" class="p-1 text-left">
                {detail.label}
              </th>
              <td class="p-1 text-left">{detail.value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</article>
